body,
html {
    background: url('/images/heng.png') repeat;
    width: 100%;
    height: 100%;
}
.main-containter {

    width: 100%;
    height: 100%;
    .header {
        background: black;
        color: white;
        height: 20%;
        width: 100%;
    }
    .content {

        .contenL {


            .panel {



                .panel-heading {
                       h4{

                           img{
                               height: 16px;
                           }
                       }


                }
                .panel-body {
                    p {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
